In [3]:
import pandas as pd
car_data=pd.read_excel("car_data.xlsx")
car_data

,symboling,normalized_losses,make,fuel_type,aspiration,num_of_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.4,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.4,8.0,115,5500,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
201,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
202,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
203,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.4,23.0,106,4800,26,27,22470
204,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

In [4]:
car_data.columns

Index(['symboling', 'normalized_losses', 'make', 'fuel_type', 'aspiration',
       'num_of_doors', 'body_style', 'drive_wheels', 'engine_location',
       'wheel_base', 'length', 'width', 'height', 'curb_weight', 'engine_type',
       'num_of_cylinders', 'engine_size', 'fuel_system', 'bore', 'stroke',
       'compression_ratio', 'horsepower', 'peak_rpm', 'city_mpg',
       'highway_mpg', 'price'],
      dtype='object')

In [5]:
car_data.describe

<bound method NDFrame.describe of      symboling normalized_losses         make fuel_type aspiration  \
0            3                 ?  alfa-romero       gas        std
1            3                 ?  alfa-romero       gas        std
2            1                 ?  alfa-romero       gas        std
3            2               164         audi       gas        std
4            2               164         audi       gas        std
..         ...               ...          ...       ...        ...
200         -1                95        volvo       gas        std
201         -1                95        volvo       gas      turbo
202         -1                95        volvo       gas        std
203         -1                95        volvo    diesel      turbo
204         -1                95        volvo       gas      turbo

    num_of_doors   body_style drive_wheels engine_location  wheel_base  ...  \
0            two  convertible          rwd           front        88.6  ...
1            two  convertible          rwd           front        88.6  ...
2            two    hatchback          rwd           front        94.5  ...
3           four        sedan          fwd           front        99.8  ...
4           four        sedan          4wd           front        99.4  ...
..           ...          ...          ...             ...         ...  ...
200         four        sedan          rwd           front       109.1  ...
201         four        sedan          rwd           front       109.1  ...
202         four        sedan          rwd           front       109.1  ...
203         four        sedan          rwd           front       109.1  ...
204         four        sedan          rwd           front       109.1  ...

     engine_size  fuel_system  bore  stroke compression_ratio horsepower  \
0            130         mpfi  3.47    2.68               9.0        111
1            130         mpfi  3.47    2.68               9.0        111
2            152         mpfi  2.68    3.47               9.0        154
3            109         mpfi  3.19     3.4              10.0        102
4            136         mpfi  3.19     3.4               8.0        115
..           ...          ...   ...     ...               ...        ...
200          141         mpfi  3.78    3.15               9.5        114
201          141         mpfi  3.78    3.15               8.7        160
202          173         mpfi  3.58    2.87               8.8        134
203          145          idi  3.01     3.4              23.0        106
204          141         mpfi  3.78    3.15               9.5        114

     peak_rpm city_mpg highway_mpg  price
0        5000       21          27  13495
1        5000       21          27  16500
2        5000       19          26  16500
3        5500       24          30  13950
4        5500       18          22  17450
..        ...      ...         ...    ...
200      5400       23          28  16845
201      5300       19          25  19045
202      5500       18          23  21485
203      4800       26          27  22470
204      5400       19          25  22625

[205 rows x 26 columns]>

In [ ]:
car_data.shape

In [ ]:
car_data.dtypes

In [ ]:
import matplotlib.pyplot as plt
car_data['make'].value_counts()

In [ ]:
car_data.info()

In [ ]:
import dtale
dtale.show(car_data)

In [ ]:
import matplotlib.pyplot as plt
car_data['engine_type'].value_counts()

In [ ]:
car_data['make'].value_counts()

In [ ]:
import matplotlib.pyplot as plt
car_data['make'].value_counts(normalize = True), car_data['make'].value_counts()

In [ ]:
import matplotlib.pyplot as plt
car_data['fuel_type'].value_counts(normalize = True), car_data['fuel_type'].value_counts()

In [ ]:
gr1 = car_data['fuel_type'].value_counts().plot.bar()
plt.show()

In [ ]:
car_data['make'].value_counts(normalize=True).plot.bar()

In [ ]:
train['Gender'].value_counts().plot.barh()

In [ ]:
train['Married'].value_counts(normalize=True).plot.barh()
plt.legend()

In [ ]:
train['Education'].value_counts(normalize=True).plot.bar(title="Education")

In [ ]:
train['Property_Area'].value_counts(normalize=True).plot.bar(title= 'Property_Area')

In [ ]:
import seaborn as sns

sns.distplot(train['ApplicantIncome'])

In [ ]:
train['ApplicantIncome'].plot.box(figsize=(16,5))

In [ ]:
train['ApplicantIncome'].plot.box(figsize=(6,5))

In [ ]:
train.boxplot(column='ApplicantIncome', by = 'Education')

In [ ]:
train.boxplot(column='ApplicantIncome', by = 'Married')

In [ ]:
train.boxplot(column='ApplicantIncome', by = 'Gender')

In [ ]:
train['CoapplicantIncome'].plot.box(figsize=(5,5))

In [ ]:
traindrop=train.dropna()

In [ ]:
traindrop['ApplicantIncome'].plot.box(figsize=(6,5))

In [ ]:
sns.distplot(traindrop['LoanAmount'])

In [ ]:
sns.distplot(train['LoanAmount'])

In [ ]:
sns.distplot(train['ApplicantIncome'])

In [ ]:
sns.distplot(traindrop['ApplicantIncome'])

In [ ]:
#Bivariate Analysis
GenderVsStatus=pd.crosstab(train['Gender'],train['Loan_Status'])
GenderVsStatus

In [ ]:
Gender = 0

In [ ]:
GenderVsStatus.div(GenderVsStatus.sum(1).astype(float), axis=0).plot(kind="bar", figsize=(6,4))

In [ ]:
#Bivariate Analysis
GenderVsMarried=pd.crosstab(train['Gender'],train['Married'])
GenderVsMarried

In [ ]:
#we typically only anaylse with "loan status" because that is what we want to be able to predict. 
#The below plot is just for pactice
GenderVsMarried.div(GenderVsMarried.sum(1).astype(float), axis=0).plot(kind="bar", figsize=(6,4))

In [ ]:
MarriedVsStatus=pd.crosstab(train['Married'],train['Loan_Status'])
DependentsVsStatus=pd.crosstab(train['Dependents'],train['Loan_Status'])
EducationVsStatus=pd.crosstab(train['Education'],train['Loan_Status'])
Self_EmployedVsStatus=pd.crosstab(train['Self_Employed'],train['Loan_Status'])
MarriedVsStatus
DependentsVsStatus
Self_EmployedVsStatus
EducationVsStatus

In [ ]:
MarriedVsStatus.div(MarriedVsStatus.sum(1).astype(float), axis=0).plot(kind="bar", stacked=True, figsize=(6
                                                                                                          ,4))

In [ ]:
ax = MarriedVsStatus.plot.bar ()

In [ ]:
ax1 = DependentsVsStatus.plot.bar ()

In [ ]:
ax2 = DependentsVsStatus.plot.bar ()

In [ ]:
ax3 = Self_EmployedVsStatus.div(Self_EmployedVsStatus.sum(1),axis=0).plot.bar (stacked = 'True')

In [ ]:
MarriedVsStatus.div(MarriedVsStatus.sum(1).astype(float), axis=0).plot(kind="bar", stacked=True, figsize=(6,4))

In [ ]:
MarriedVsStatus.groupby(MarriedVsStatus.sum(1).astype(float), axis=0).plot(kind="bar", stacked=True, figsize=(6,4))

In [ ]:
EducationVsStatus.div(EducationVsStatus.sum(1).astype(float), axis=0).plot(kind="bar", stacked=True, figsize=(4,4))

In [ ]:
bins=[0,2000,4500,8000,81000]

group=['Low','Average','High', 'Very high']

train['Income_bin']=pd.cut(train_original['ApplicantIncome'],bins,labels=group)

In [ ]:
Income_bin=pd.crosstab(train['Income_bin'],train['Loan_Status'])

Income_bin

In [ ]:
Income_bin.div(Income_bin.sum(1).astype(float), axis=0).plot(kind="bar", stacked=True)

In [ ]:
train.isnull().sum()

In [ ]:
train['Dependents'].fillna(train['Dependents'].mode()[0], inplace = True)

In [ ]:
train.isnull().sum()